<mat-toolbar class="cars-header">
  <div class="cars-header__name">eBookings</div>
  <nav mat-tab-nav-bar mat-align-tabs="center" class="cars-header__nav">
      <a mat-tab-link routerLink="/">Home</a>
      <a mat-tab-link routerLink="/bookings">bookings</a>
      <a mat-tab-link routerLink="/create">Create</a>
  </nav>
  <button mat-button class="cars-header__profile" [matMenuTriggerFor]="menu">
    <div class="cars-header__profile_group">
    <span class="cars-header__profile_group_name">User</span>
    <span class="cars-header__profile_group_avatar">UR</span>
    </div>
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>block</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
